.App {
  width: 60%;
  margin: 2% auto;
  box-shadow: 0 0 5px gray;
  padding: 2% 4%;
}

hr {
  box-shadow: -2px -1px 2px gray;
  border-top: none;
}

.adm__choice {
  position: absolute;
  top: -0.5%;
  right: 0.3%;
  color: blue;
}


@media screen and (max-width: 768px) {
  .App {
    width: 92%;
    margin: 0;
    box-shadow: none;
    padding-top: 10%;
  }
}
