.footer {
    display: flex;
}

.footer__share-button {
    display: block;
    user-select: none;
}

.footer__share-button:hover {
    cursor: pointer;
}

.footer__share-link {
    margin-right: 3%;
    text-align: center;
}

.footer__share-count {
    font-size: 90%;
}