.dummyframe {
    display: none;
}

.adm-panel {
    width: 90%;
    min-height: 300px;
    margin: auto;
    padding-bottom: 5%;
    text-align: center;
    box-shadow: 0 0 5px gray;
    overflow-x: scroll;
}

table {
    margin: 5% auto;
    font-size: 90%;
}

.filter__text {
    margin-right: 2%;
    width: 13%;
}

.filter__button {
    margin: 3%; 
}

button:hover {
    cursor: pointer;
}


@media screen and (max-width: 768px) {
    .adm-panel {
        width: 100%;
    }

    .filter__text{
        display: block;
        margin: 0 auto 5%;
        width: 40%;
    }
}
